body {
  margin: 10px;
  font-size: 1.0625rem;
  -webkit-font-smoothing: antialiased;
  color: #c7c7c7;
  line-height: 1.4;
  background-color: #fff;
}

blockquote {
  border-left: solid 3px red;
  padding-left: 5px;
  margin: 0px;
}

p {
  margin: 0px;
}

.link {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #f33e03;
}

.color-animation-6 {
  background: transparent;
  animation: color-me-in 240s; /* other keywords like "infinite alternate" can be useful here */
  animation-timing-function: cubic-bezier(0, 0.68, 0, 0.82);
  -webkit-animation-timing-function: cubic-bezier(0, 0.68, 0, 0.82);
}

.time-indicator {
  width: 5px;
  height: 5px;
  display: inline-block;
}

@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    background: #ff8800;
    color: white;
  }
  /* You could think of as "step 2" */
  100% {
    background: transparent;
    color: #c7c7c7;
  }
}
